.main-searchbar{
  width:53%;
  height: 40px;
  position: relative;
  bottom:250px;
  left:20%;
  }
  .item-field{
    width: 1100px;
    position: relative;
    left: 340px;
  }
  .zip-field{
    width: 260px;
    position: relative;
    left: 1140px;
    bottom: 45px;
  }
  .form-body{
   
  }