.main-searchbar{
  width: 74%;
  height: 55px;
  position: relative;
  bottom: 314px;
  left: 13%;

  }
  .item-field{
   width: 901px;
   position: relative;
   left: 340px

  }
  .zip-field{
   width: 459px;
   position: relative;
   left: 900px;
   bottom: 61px;

  }
  .form-body{
   
  }
  .search-food-btn{
    position: relative;
    left: 1310px;
    bottom: 436px;
    height: 62px;
  }