.main-searchbar{
  width:53%;
  height: 40px;
  position: relative;
  bottom:250px;
  left:20%;
  }
  .item-field{
    width: 800px;
    position: relative;
    left: 340px;
  }
  .zip-field{
    width: 260px;
    position: relative;
    left: 900px;
    bottom: 45px;
  }
  .form-body{
   
  }
  .search-food-btn{
    position: relative;
    left: 1117px;
    bottom: 341px;
    height: 46px;
  }