.header {
   background-color: rgba(180, 12, 0, 0.959);
   /* border: 1px solid #00000000; */
   height: 75px;
   

}

.logo{
   position: relative;
   left: 140px;
   top:15px;
   color: yellow;
   margin:0px;
}