
.r-container{ 
  background-color: #c74b0e;
  background-color: #e84c00c2;
}
.review-card-body {
  border: 1px solid black;
  width: 40%;
  height: 234px;
  position: relative;
  margin-top: 250px;
  left: 272px;
  bottom: 140px;
}