
.r-container{ 
  height: 600px;
  background-color: white;
  /* background-color: #c74b0e; */
  /* background-color: #e84c00c2; */
}
.review-title{
  width: 70%;
  text-align: center;
  margin-left: 247px;
  /* color:yellow; */
  border-bottom: 1px solid  #e84c00c2;
}
.review-card-body {
  border: 1px solid black;
  width: 40%;
  height: 234px;
  position: relative;
  margin-top: 250px;
  left: 272px;
  bottom: 140px;
}

.rating {
  position: relative;
  top: 15px;
  left: 367px;
}
.restaurant-name{
  position: relative;
  left: 369px;
}
.user-image{
  position: relative;
  bottom: 172px;
  left: 29px;
}
.restaurant-image{
   position: relative;
   left: 300px;
   bottom: 15px;
}
.user-name{
  position: relative;
   bottom: 247px;
   left: 109px;


}
.review-text-intro{
  position: relative;
    bottom: 259px;
    left: 109px;
}
.user-review{
  position: relative;
  bottom: 270px;
  left: 26px;
}
.user-text{
  width: 48%;
  font-size: 13px;
}
